<div class="comments">
  <script>
  (function () {
    var container = document.currentScript.parentElement;
    var giscusScript = document.createElement('script');
    giscusScript.src = 'https://giscus.app/client.js';
    giscusScript.dataset.repo = 'tianye-J/tianye-J.github.io';
    giscusScript.dataset.repoId = 'R_kgDORZPU3Q';
    giscusScript.dataset.category = 'Announcements';
    giscusScript.dataset.categoryId = 'DIC_kwDORZPU3c4C6qgT';
    giscusScript.dataset.mapping = 'pathname';
    giscusScript.dataset.strict = '0';
    giscusScript.dataset.reactionsEnabled = '1';
    giscusScript.dataset.emitMetadata = '0';
    giscusScript.dataset.inputPosition = 'top';
    giscusScript.dataset.theme = document.documentElement.dataset.theme === 'dark' ? 'dark' : 'light';
    giscusScript.dataset.lang = 'zh-CN';
    giscusScript.dataset.loading = 'lazy';
    giscusScript.crossOrigin = 'anonymous';
    giscusScript.async = true;
    container.appendChild(giscusScript);
  })();
  </script>
</div>
