<div class="comments">
  <script src="https://giscus.app/client.js"
    data-repo="tianye-J/tianye-J.github.io"
    data-repo-id="R_kgDORZPU3Q"
    data-category="Announcements"
    data-category-id="DIC_kwDORZPU3c4C6qgT"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="https://ardenj.pages.dev/css/giscus-warm.css"
    data-lang="zh-CN"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
</div>
